<ng-container *ngIf="controls?.touched && controls?.errors">
    <mat-error *ngIf="controls?.hasError('required')">
        {{fieldName}} is required
    </mat-error>
    <mat-error *ngIf="controls?.hasError('maxlength')" role="alert">
        Max Length is {{controls.errors['maxlength'].requiredLength}}
    </mat-error>
    <mat-error *ngIf="controls?.hasError('minlength')" role="alert">
        Min Length is {{controls.errors['minlength'].requiredLength}}
    </mat-error>
    <mat-error *ngIf="controls?.errors['pattern']?.requiredPattern" role="alert">
        {{fieldName}} not valid
    </mat-error>
    <mat-error *ngIf="controls?.hasError('email')" role="alert">
        Not an Email
    </mat-error>
    <mat-error *ngIf="controls?.hasError('match')" role="alert">
        {{fieldName}} Not Valid</mat-error>
</ng-container>