<form [formGroup]="form" class="form" (ngSubmit)="submit()">
    <mat-form-field  appearance="outline">
        <mat-label>Name</mat-label>
        <input [readonly]="readOnly==true" formControlName="name" type="text" matInput form>
        
    </mat-form-field>
    <app-input-error [controls]="this.form.controls['name']" [fieldName]="'Name'"></app-input-error>
    <mat-form-field  appearance="outline">
        <mat-label>Email</mat-label>
        <input [readonly]="readOnly==true" formControlName="email" type="email" matInput form>
        
    </mat-form-field>
    <app-input-error [controls]="this.form.controls['email']" [fieldName]="'email'"></app-input-error>
    <mat-form-field  appearance="outline">
        <mat-label>Phone</mat-label>
        <input [readonly]="readOnly==true" formControlName="phone" type="text" matInput form>
    </mat-form-field>
    <app-input-error [controls]="this.form.controls['phone']" [fieldName]="'phone'"></app-input-error>
    <mat-form-field appearance="outline">
        <mat-label>Date Of Birth</mat-label>
        <input formControlName="dob" matInput [matDatepicker]="picker">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <app-input-error [controls]="this.form.controls['dob']" [fieldName]="'DOB'"></app-input-error>
    <mat-form-field  appearance="outline">
        <mat-label>Profession</mat-label>
        <input [readonly]="readOnly==true" formControlName="profession" type="text" matInput form>
    </mat-form-field>
    <app-input-error [controls]="this.form.controls['profession']" [fieldName]="'Profession'"></app-input-error>
    <button *ngIf="readOnly==false" mat-raised-button color="primary">Submit</button>
</form>