<form [formGroup]="form" class="form" (ngSubmit)="submit()">
    <mat-form-field  appearance="outline">
        <mat-label>Name</mat-label>
        <input [readonly]="readOnly==true" formControlName="name" type="text" matInput form>
        <app-input-error [controls]="this.form.controls['name']" [fieldName]="'Name'"></app-input-error>
    </mat-form-field>
    <mat-form-field  appearance="outline">
        <mat-label>Email</mat-label>
        <input [readonly]="readOnly==true" formControlName="email" type="email" matInput form>
        <app-input-error [controls]="this.form.controls['email']" [fieldName]="'email'"></app-input-error>
    </mat-form-field>
    <mat-form-field  appearance="outline">
        <mat-label>Phone</mat-label>
        <input [readonly]="readOnly==true" formControlName="phone" type="text" matInput form>
        <app-input-error [controls]="this.form.controls['phone']" [fieldName]="'phone'"></app-input-error>
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label>Profession</mat-label>
        <input [readonly]="readOnly==true" formControlName="profession" type="text" matInput form>
        <app-input-error [controls]="this.form.controls['profession']" [fieldName]="'Profession'"></app-input-error>
    </mat-form-field>
    <button *ngIf="readOnly==false" mat-raised-button color="primary">Submit</button>
</form>