table {
  width: 100%;
}
.input{
  padding: 1%;
  padding-left: 1.7rem;
  margin: 1rem;
  position: relative;
  &:focus{
    outline: none;
  }
  &__svg{
    position: absolute;
    left: 1.3rem;
    top: 5.55rem;
  }
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}
